extends layout

block content
  h1= title
  p Download JSON with the content from your default yammer network. 
  ul 
    li
        a(href='/users') Users
    li
        a(href='/messages') Messages
    li 
        a(href='/groups') Groups